body {
  margin: 0;
  background-color: #f3f3f3;
}

a {
  color: #545454;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #8b8b8b;
}
.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-content: center;
}

.text__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  font-family: "Open Sans", sans-serif;
  padding-left: 1rem;
  padding-right: 1rem;
}

.trails-text {
  color: #3a3a3a;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 400;
  z-index: 9999;
}

.main__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.grid__images {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.big__image__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small__image__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.big__image {
  width: 250px;
  height: 150px;
  margin: 0.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
}

svg {
  fill: #3a3a3a;
  height: 48px;
  width: 48px;
}

.icon__container {
  margin-left: 1rem;
}

.small__image {
  width: calc(125px - 0.5rem);
  height: calc(75px - 0.5rem);
  margin: 0.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
}

::selection {
  background: #2ddab8;
  color: white;
}

.frame {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1.5rem;
  z-index: 2;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}

.frame__title {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

.frame__links {
  margin: 1rem 0;
  pointer-events: fill;
}

.frame__link:not(:last-child) {
  margin-right: 1rem;
}

.frame__nav .frame__link:first-child {
  margin-right: 1.5rem;
}

.bottom-left {
  padding: 1.5rem;
  transform: translate3d(0, -100%, 0) !important;
}

@media screen and (min-width: 53em) {
  .frame {
    display: grid;
    height: 100vh;
    padding: 1rem 2rem;
    z-index: 10099;
    pointer-events: none;
    align-content: space-between;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title links"
      "... ..."
      "... nav";
  }
  .frame__title {
    grid-area: title;
  }
  .frame__links {
    grid-area: links;
    justify-self: end;
    margin: 0;
  }
  .frame__link {
    pointer-events: auto;
  }
  .frame__nav {
    grid-area: nav;
    justify-self: end;
  }
  .bottom-left {
    padding: 0 0 2rem 3.7rem;
  }
}

.frame__link {
  font-weight: 300;
  text-transform: uppercase;
}

.frame__title {
  font-weight: 300;
  font-size: 15px;
  text-decoration: underline;
  text-transform: capitalize;
}

.frame__links__button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-weight: 300;
  font-size: 12px;
  color: #3a3a3a;
  z-index: 10999;
  opacity: 0.5;
  text-transform: uppercase;
}

.menu-button--full {
  top: 40px;
  left: 20px;
}

.menu-button {
  z-index: 40;
  border: none;
  position: fixed;
  top: 40px;
  right: 20px;
  padding: 12px;
  font-size: 1em;
  background: none;
  background: #fff;
  color: #692969;
  transition: background 0.1s linear;
  cursor: pointer;
}

.menu-button:hover {
  background: #e8daff;
}

.menu {
  position: absolute;

  color: #fff;
  z-index: 2000;
}

.menu--right {
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
}

.menu--full {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}



.menu__item {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  color: #f3f3f3;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-family: 400;
  font-size: 20px;


}

.menu__item__container {
  width: 100%;
  height: 100%;
  position: relative;
  
}

.item-bg--1 {
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-image:url(https://i.imgur.com/Xl0Q4hr.jpg);
}
.item-bg--2 {
  background-color: #da3b35;
}
.item-bg--3 {
  background-color: #302d29;
}
.item-bg--4 {
  background-color: #4600f2;
}
.item-bg--5 {
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-image:url( https://i.imgur.com/HhEDPde.jpg);
 
}
.item-bg--6 {
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-image:url(   https://i.imgur.com/dpYoBLJ.jpg);
}
.item-bg--7 {
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-image:url( https://i.imgur.com/ytdt6nK.jpg);
}
.item-bg--8 {
  background-color: #da3b35;
}
.item-bg--9 {
 

}

.item-7 {
  grid-area: 1 / 1 / span 8 / span 4;
}
.item-6 {
  grid-area: 5 / 5 / span 4 / span 4;
}
.item-5 {
  grid-area: 1 / 5 / span 4 / span 2;
}

.item-4 {
  grid-area: 3 / 7 / span 2 / span 2;
}
.item-3 {
  grid-area: 1 / 7 / span 2 / span 1;
}
.item-2 {
  grid-area: 2 / 8 / span 1 / span 1;

}
.item-1 {
  grid-area: 1 / 8 / span 1 / span 1;
}
